<div class="col-md-6 col-md-offset-3">
   
    <h3>We are subjected to Nico:</h3>
    <ul class="collection with-header">
		<li class="collection-header"><h4>Users</h4></li>
		<li class="collection-item"*ngFor="let user of users">
		 <div>{{user.email}}
		 	<a href="#!" class="secondary-content">
		 		<i class="material-icons">send</i>
		 	</a>
		 </div>
		</li>
</ul>
    <ul>
        <li>
             <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>


