<div class="container">
  <div class="row">
    <form [formGroup]="eventForm">
      <div class="row">
        <div class="input-field col s6">
          <label for="eventName">Naam</label>
          <input class="input-field" formControlName="name" type="text" id="eventName">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="eventDescription">Description</label>
          <textarea formControlName="description" id="eventDescription" class="materialize-textarea"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="checkbox" id="customAddressCheckbox" formControlName="standardAddressBoolean"/>
          <label for="customAddressCheckbox">Take the default sport club address</label>
        </div>
      </div>

      <div *ngIf="!(eventForm.value.standardAddressBoolean)">
      <div class="row">
        <div class="col s5 input-field">
          <label for="addrStreet">Street</label>
          <input formControlName="street" id="addrStreet" type="text">
        </div>
        <div class="col s1 input-field">
          <label for="addrStreet">Nr</label>
          <input formControlName="homeNumber" id="addrHomeNumber" type="number">
        </div>
      </div>
      <div class="row">
        <div class="col s2 input-field">
          <label for="addrStreet">Postalcode</label>
          <input formControlName="postalCode" id="addrPostalCode" type="number">
        </div>
        <div class="col s4 input-field">
          <label for="addrStreet">Country</label>
          <input formControlName="country" id="addrCountry" type="text">
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col">
          <input type="checkbox" id="customPriceCheckbox" formControlName="differentPricesBoolean"/>
          <label for="customPriceCheckbox">Differentiate price for adults and children</label>
        </div>
      </div>

      <div *ngIf="(eventForm.value.differentPricesBoolean)">
        <div class="row">
          <div class="col s2 input-field">
            <label for="priceChild">Price Children</label>
            <input formControlName="pricePerChild" id="priceChild" type="number">
          </div>
          <div class="col s2 input-field">
            <label for="priceAdult">Price Adults</label>
            <input formControlName="pricePerAdult" id="priceAdult" type="number">
          </div>
        </div>
      </div>

      <div *ngIf="(!eventForm.value.differentPricesBoolean)">
        <div class="row">
          <div class="col s2 input-field">
            <label for="priceGeneral">Price</label>
            <input formControlName="priceGeneral" id="priceGeneral">
          </div>
        </div>
      </div>

      <div class="col m6">
        <label for="eventStartDate">Start date</label>
        <input id="eventStartDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventStartTime">Start time</label>
        <input id="eventStartTime" type="text" class="timepicker">
      </div>
      <div class="col m6">
        <label for="eventEndDate">End date</label>
        <input id="eventEndDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventEndTime">End time</label>
        <input id="eventEndTime" type="text" class="timepicker">
      </div>
      <div class="col m6">
        <label for="eventDeadlineDate">Deadline date</label>
        <input id="eventDeadlineDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventDeadlineTime">Deadline time</label>
        <input id="eventDeadlineTime" type="text" class="timepicker">
      </div>
      <button (click)="saveSingleEvent()">Save</button>
    </form>

    <p>
      {{eventForm.value.standardAddressBoolean}}
    </p>

    <p>
      {{eventForm.value | json}}
    </p>
    <p>
      {{event | json}}
    </p>
  </div>
</div>
