<div class="container">
  <div class="row">
    <form [formGroup]="eventForm">
      <div class="row">
        <div class="input-field col s6">
          <label for="eventName">Naam</label>
          <input class="input-field" formControlName="name" type="text" id="eventName">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="eventDescription">Description</label>
          <textarea formControlName="description" id="eventDescription" class="materialize-textarea"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="checkbox" id="customAddressCheckbox" formControlName="customAddressBoolean"/>
          <label for="customAddressCheckbox">Take the default sport club address</label>
        </div>
      </div>

      <div *ngIf="!(eventForm.value.customAddressBoolean)">
        <div class="row">
          <div class="col s5 input-field">
            <label for="addrStreet">Street</label>
            <input formControlName="street" id="addrStreet">
          </div>
          <div class="col s1 input-field">
            <label for="addrStreet">Nr</label>
            <input formControlName="homeNumber" id="addrHomeNumber">
          </div>
        </div>
        <div class="row">
          <div class="col s2 input-field">
            <label for="addrStreet">Postalcode</label>
            <input formControlName="postalCode" id="addrPostalCode">
          </div>
          <div class="col s4 input-field">
            <label for="addrStreet">Country</label>
            <input formControlName="country" id="addrCountry">
          </div>
        </div>
      </div>
      <div>
        <div class="col m4">
          <label for="priceChildren">price children</label>
          <input formControlName="pricePerChild" type="number" id="priceChildren">
        </div>
        <div class="col m4"><label for="priceAdults">price adults</label>
          <input formControlName="pricePerAdult" id="priceAdults">
        </div>
      </div>
      <div class="col m6">
        <label for="eventStartDate">Start date</label>
        <input id="eventStartDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventStartTime">Start time</label>
        <input id="eventStartTime" type="text" class="timepicker">
      </div>
      <div class="col m6">
        <label for="eventEndDate">End date</label>
        <input id="eventEndDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventEndTime">End time</label>
        <input id="eventEndTime" type="text" class="timepicker">
      </div>
      <div class="col m6">
        <label for="eventDeadlineDate">Deadline date</label>
        <input id="eventDeadlineDate" type="text" class="eventDatepicker">
      </div>
      <div class="col m6">
        <label for="eventDeadlineTime">Deadline time</label>
        <input id="eventDeadlineTime" type="text" class="timepicker">
      </div>

      <div class="col s12">
        <input type="checkbox" id="eventIsRecurringCheckbox" formControlName="eventIsRecurring"/>
        <label for="eventIsRecurringCheckbox">Event is recurring</label>
      </div>

      <div [hidden]="!(eventForm.value.eventIsRecurring)">
        <div class="col m6">
          <label for="eventFirstDate">First event date</label>
          <input  formControlName="firstEventDate" id="eventFirstDate" type="text" class="eventDatepicker">
        </div>
        <div class="col m6">
          <label for="eventLastDate">Last event date</label>
          <input formControlName="lastEventDate" id="eventLastDate" type="text" class="eventDatepicker">
        </div>


        <!-- <div *ngFor="let weekday of nrOfWeekdays; let i = index" class="col s12">
           <input type="checkbox" id="test6" [(ngModel)]="eventForm.value.nrOfWeekdays[i].checked"/>
           <label for="test6" >{{weekday.name}}</label>
         </div>-->
        <div formGroupName="nrOfWeekdays">
          <div class="col s12">
            <input type="checkbox" id="test5" formControlName="MONDAY"/>
            <label for="test5">Monday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test6" formControlName="TUESDAY"/>
            <label for="test6">Tuesday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test7" formControlName="WEDNESDAY"/>
            <label for="test7">Wednesday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test8" formControlName="THURSDAY"/>
            <label for="test8">Thursday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test9" formControlName="FRIDAY"/>
            <label for="test9">Friday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test10" formControlName="SATURDAY"/>
            <label for="test10">Saturday</label>
          </div>
          <div class="col s12">
            <input type="checkbox" id="test11" formControlName="SUNDAY"/>
            <label for="test11">Sunday</label>
          </div>
          -->
        </div>
      </div>

      <div class="col s12">
        <button class="btn" (click)="saveSingleEvent()">Save</button>
      </div>

    </form>

    <p class="col s12">
      {{eventForm.value.customAddressBoolean}}
    </p>

    <p class="col s12">
      {{eventForm.value | json}}
    </p>
    <p class="col s12">
      {{event | json}}
    </p>
  </div>
</div>
