
<p>
Inschrijven in {{eventModel.name}} op {{eventModel.startDate}}
</p>

<div *ngIf="!naam; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addEvent(rForm.value)">
      <div class="form-container">
        <div class="row columns">
            <label>
              Naam <input type="text" formControlName="naam">

            </label>
          <div class="alert" *ngIf="!rForm.controls['naam'].valid">
            This is required
          </div>

          <label>
          Voornaam <input type="text" formControlName="voornaam">

        </label>
          <div class="alert" *ngIf="!rForm.controls['voornaam'].valid">
            This is required
          </div>
          <label>
           Email <input type="email" formControlName="email">

          </label>
          <div class="alert" *ngIf="!rForm.controls['email'].valid">
            This is not good
          </div>


          <label>
            numberOfAdults <input type="number" formControlName="numberOfAdults">

          </label>
          <label>
            numberOfChildren <input type="number" formControlName="numberOfChildren">

          </label>


          <input type="submit" class="button expanded" value="Inschrijvin" [disabled]="!rForm.valid">

        </div>


      </div>

    </form>



  </div>

  <ng-template #forminfo>
    <div class="form-container">
      <div class="row columns">


      </div>


    </div>





  </ng-template>

