<div id="participantsModal" class="modal">
  <div class="modal-content">
    <table>
      <tr>
        <th>Deelnemers</th>
        <th>Aantal volwassenen</th>
        <th>Aantal kinderen</th>
      </tr>
      <tr *ngFor="let participant of participants">
        <td>
          {{participant.firstName}} {{participant.lastName}}
        </td>
        <td>
          {{participant.numberOfAdults}}
        </td>
        <td>
          {{participant.numberOfChildren}}
        </td>
      </tr>
    </table>
  </div>
</div>
