<div class="container">
  <div class="row">
    <div class="col s12">

      <nav style="margin-top: 10%">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>

            </div>
          </form>
        </div>
      </nav>

      <table class="bordered striped">
        <thead>
          <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Lidmaatschap</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ingrid</td>
            <td>Lieten</td>
            <td>01/08/1965</td>
            <td>Bikers</td>
            <td>
              <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose the role</option>
                  <option value="Admin">Admin</option>
                  <option value="Moderator">Moderator</option>
                  <option value="Enrolled User">Enrolled User</option>
                  <option value="Registered User">Registered User</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Carlo</td>
            <td>Vermeersch</td>
            <td>25/12/1993</td>
            <td>Lonely riders</td>
            <td>
              <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose the role</option>
                  <option value="Admin">Admin</option>
                  <option value="Moderator">Moderator</option>
                  <option value="Enrolled User">Enrolled User</option>
                  <option value="Registered User">Registered User</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>




      </table>
    </div>
  </div>
</div>



