<div class="eventTitleBar">
</div>
<br/>
<br/>
<br/>
<br/>

<div class="container">
  <div class="card-panel hoverable large">


    <div class="row">
      <div class="col s12 m6 l3"><p> </p></div>
      <!-- If there is an image else... -->
      <div class="col s12 m6 l3" *ngIf="eventModel?.imageUrl != null; else noImage">
        <img class="materialboxed" width="200" src="{{eventModel?.imageUrl}}" alt="event image">
      </div>
      <ng-template #noImage><div class="col s12 m6 l3"><img class="materialboxed" width="200" height="150" src="https://upload.wikimedia.org/wikipedia/commons/6/6c/No_image_3x4.svg" alt="no event image"></div></ng-template>


      <!--if it is a closed event else... -->
      <div class="col s12 m6 l3">
    <span *ngIf="eventModel?.closed == true; else openEvent">
      <i class="medium material-icons">person</i><br/><b>Gesloten evenement</b>
    </span>
        <ng-template #openEvent>
          <i class="medium material-icons">people</i><br/><b>Openbaar evenement</b>
        </ng-template>
        <br/>

        <span *ngIf="eventModel?.recurringEventInfo != null; else singleEvent"><b>Recursief evenement</b></span>
        <ng-template #singleEvent><b>Enkelvoudig evenement</b></ng-template>

      </div>


      <div class="col s12 m6 l3"></div>

    </div>

    <div class="row">
      <div class="col s12 m6 l3"><p>  </p></div>
      <div class="col s12 m6 l3"><p><b>{{eventModel?.name}}</b><br/>
        Vanaf: {{eventModel?.startDate}}<br/>
        Tot: {{eventModel?.endDate}}
      </p>
      </div>
      <!-- TODO replace static price with dynamic after big decimal issue has been resolved-->
      <div class="col s12 m6 l3"><p>Prijs volwassenen: &euro; {{eventModel?.priceAdult}}<br/>Prijs kinderen: &euro; {{eventModel?.priceChild}}</p></div>
      <div class="col s12 m6 l3"><p>  </p></div>
    </div>






    <div class="row">
      <div class="col s12 m6 l3"><p>  </p></div>
      <div class="col s12 m6 l3">
        <span>Beschrijving: {{eventModel?.description}}</span>
      </div>

      <div class="col s12 m6 l3">
        <span>Beschikbare plaatsen: {{eventModel?.maxParticipants}}</span>
      </div>

      <div class="col s12 m6 l3"><p> </p></div>
    </div>



    <div class="row">
      <div class="col s12 m6 l3"><p></p></div>
      <div class="col s12 m6 l3">
        <span>Locatie:</span><br/>
        <span>{{eventModel?.address.street}} {{eventModel?.address.homeNumber}}</span>
        <br/>
        <span>{{eventModel?.address.postalCode}}</span> <span>{{eventModel?.address.country}}</span>
      </div>
      <div class="col s12 m6 l3">
        <a class="waves-effect waves-light btn" (click)="subscribeModal()" class="btn modal-trigger" data-target="modal1" >Inschrijven</a><br/>
        <span><b>Inschrijven voor: {{eventModel?.deadline}}</b></span>
      </div>
      <div class="col s12 m6 l3"><p>  </p></div>
    </div>
    <!-- Modal Structure  -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <app-attending-modal> </app-attending-modal>
      </div>
    </div>

  </div>
</div>
<br/>
<br/>
<br/>
<br/>
