<div class="eventTitleBar">
</div>

<div class="row">
  <div class="col s12 m6 l3"><p> testing content {{eventModel.address.street}} {{eventModel.address.homeNumber}}</p></div>
  <div class="col s12 m6 l3"><p>testing content {{eventModel.address.country}}</p></div>
  <div class="col s12 m6 l3"><p> </p></div>
  <div class="col s12 m6 l3"><p>  </p></div>
</div>

<div class="row">
  <div class="col s12 m6 l3"><p> </p></div>
  <div class="col s12 m6 l3" *ngIf="eventModel.imageUrl != null">
    <img class="materialboxed" width="200" src="{{eventModel.imageUrl}}" alt="event image">
  </div>
  <div class="col s12 m6 l3"><p> </p></div>
  <div class="col s12 m6 l3"><p>  </p></div>
</div>

<div class="row">
  <div class="col s12 m6 l3"><p>  </p></div>
  <div class="col s12 m6 l3"><p>{{eventModel.name}}</p></div>
  <div class="col s12 m6 l3"><p>Prijs volwassenen: &euro;{{eventModel.price.adultPrice}}<br/>Prijs kinderen: &euro;{{eventModel.price.childPrice}}</p></div>
  <div class="col s12 m6 l3"><p>  </p></div>
</div>

<div class="row">
  <div class="col s12 m6 l3"><p>  </p></div>
  <div class="col s12 m6 l3"  *ngIf="eventModel.recurringEventInfo != null">
    <span>Start datum: {{eventModel.startDate}}</span> <br/>
    <span>Eind datum: {{eventModel.endDate}}</span> <br/>
    <span>Recursief evenement</span>
  </div>
  <div class="col s12 m6 l3" *ngIf="eventModel.recurringEventInfo == null">
    <span>Datum: {{eventModel.startDate}}</span> <br/>
    <span>Enkelvoudig evenement</span>
  </div>
  <div class="col s12 m6 l3"><span>Beschikbare plaatsen{{eventModel.availableSpace}}</span>
    <br/>
    <span>Beschrijving: {{eventModel.name}}</span></div>
  <div class="col s12 m6 l3"><p></p></div>
</div>


<div class="row">
  <div class="col s12 m6 l3"><p>  </p></div>
  <div class="col s12 m6 l3">
    <span>Locatie:</span><br/>
    <span>{{eventModel.address.street}} {{eventModel.address.homeNumber}}</span>
    <br/>
    <span>{{eventModel.address.postalCode}}</span>
    <br/>
    <span>{{eventModel.address.country}}</span>
</div>
  <div class="col s12 m6 l3">
    <a class="waves-effect waves-light btn" (click)="subscribe()" >Inschrijven</a><br/>
    <span>Inschrijven voor: {{eventModel.deadline}}</span>
  </div>
  <div class="col s12 m6 l3"><p>  </p></div>
</div>






