<div class="container">
  <!-- TODO: only show when moderator -->
  <div class="row">
    <a class="waves-effect waves-light btn" (click)="goToEventCreation()" class="btn">Evenement aanmaken</a>
    <a class="waves-effect waves-light btn" (click)="eventOverviewModal()" class="btn modal-trigger"
       data-target="modal1">Overzicht evenementen</a><br/>
  </div>

  <div class="row">
    <app-event-calendar></app-event-calendar>
  </div>

  <app-event-overview-modal></app-event-overview-modal>
</div>
