<nav>
  <div class="nav-wrapper">
    <!--<a href="#!" class="brand-logo center">Admin paneel</a>-->
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="chip right dropdown-button" data-activates='dropdown2'>
      <i class="large material-icons">account_circle</i>
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#">Profiel<i class="material-icons">account_circle</i></a></li>
        <li><a href="#">Uitloggen<i class="material-icons">power_settings_new</i></a> </li>

      </ul>
      <!--Dummy data moet vervangen worden door de naam van de gebruiker-->
      Username <!--{{user.name}}-->
    </div>
    <ul class="left hide-on-med-and-down">
      <a class='dropdown-button btn' href='#' data-activates='dropdown1'><i class="material-icons">menu</i></a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/">Home<i class="material-icons">home</i></a></li>
        <li><a href="/user-management">Leden beheer<i class="material-icons">build</i></a></li>
        <li><a href="/role-management">Rollen beheer<i class="material-icons">build</i></a></li>
        <li><a href="#">Punten beheer<i class="material-icons">build</i></a></li>
        <li><a href="#">Club info<i class="material-icons">info_outline</i></a></li>
        <li><a href="#">Print registratie <i class="material-icons">print</i></a></li>
        <li><a href="/events">Events <i class="material-icons">event</i> </a> </li>
      </ul>
      <!-- Hier extra links toevoegen-->
    </ul>
    <!-- Slider navigatie bij mobiele schermen -->
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home<i class="material-icons">home</i></a></li>
      <li><a href="/user-management">Leden beheer<i class="material-icons">build</i></a></li>
      <li><a href="/role-management">Rollen beheer<i class="material-icons">build</i></a></li>
      <li><a href="#">Punten beheer<i class="material-icons">build</i></a></li>
      <li><a href="#">Club info<i class="material-icons">info_outline</i></a></li>
      <li><a href="#">Print registratie <i class="material-icons">print</i></a></li>
      <li><a href="/events">Events <i class="material-icons">event</i> </a> </li>
      <!-- Hier extra links toevoegen-->
    </ul>
  </div>

</nav>
