<div class='panel panel-primary'>
  <div class='panel-body'>
    <div class='panel-body1'>
      <div class="row">
        <div class="col s12">
          {{pageTitle}}
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col s2">Search:</div>
      <div class="col s4">
        <form>
        <input type='text' [(ngModel)] = 'searchTerm' (ngModelChange) = "transform()" placeholder='search'/>
        </form>
      </div>
    </div>
  </div>
    <!--div class="row">
      <div class="col-md-6">
        <h3>Filtered by:</h3>
      </div>
    </div-->
    <div class="table-responsive" *ngIf="points && points.length">
      <table class="bordered">
        <thead class="bordered1">
          <tr>
            <th>Ranking</th>
            <th>Name</th>
            <th>Total points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pt of sortedPoints">
            <td>{{sortedPoints.indexOf(pt) + 1}}</td>
            <td>{{pt.pointName}}</td>
            <td>{{pt.totalPoint}}</td>
          </tr>

          <div>{{'Total points :'+getTotalSum()}}</div>
          <div>{{'My points :'+getMyPoints()}}</div>
        </tbody>
      </table>

    </div>

  </div>

